html {
  
	scroll-behavior: smooth;

}

body {

	padding: 0px;
	margin: 0px;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: Helvetica, sans-serif;

}

.page-element {

	width: 1240px;
	height: 1754px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.margin-element {

	height: 100px;
	width: 1240px;

}

.header {

	width: calc(100% - 120px);
	height: max-content;
	padding: 40px 60px;
	/*background: red;*/
	text-align: right;

}

.header-text {

	font-weight: 300;
	padding: 0px;
	margin: 0px;

}

.title-text {

	margin: 0px;
	margin-left: 60px;
	font-size: 50px;

}

.hr-title {

	width: calc(100% - 124px);

}

.hr-section {

	width: 50px;
	margin-left: 0px;

}

.text-body {

	width: calc(100% - 124px);
	height: 100%;
	padding: 0px 62px;

}

.page-finder {

	position: sticky;
	top: 0;
	align-self: flex-start;
	transform: translate(0%, 100%);

	width: 100px;
	height: 200px;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}

.link-container {

	width: calc(100% - 20px);
	padding: 5px 10px;
	display: flex;
	flex-direction: column;

}

.page-link {

	text-decoration: none;
	color: grey;
	margin-bottom: 1px;

}

.page-link:hover {

	color: black;

}